In [1]:
import pandas as pd
import numpy as np

In [2]:
residential = pd.read_csv("https://raw.githubusercontent.com/garrettvercoe/CharlottesvilleFireModel/master/Updated_Residential_Results_cleaned.csv")
commercial = pd.read_csv("https://raw.githubusercontent.com/garrettvercoe/CharlottesvilleFireModel/master/Updated_Commercial_Results_cleaned.csv")

In [15]:
counts=residential.use_type.value_counts()
print (counts)

R    11543
C     1026
I      134
Name: use_type, dtype: int64

In [16]:
counts=residential.use_code.value_counts()
print (counts)

Single Family                     8342
Condominium                       1480
Single Family Attached            1243
Duplex                             916
Single Family-1 Conversion         885
Parking Lot                         93
Single Family-2 Conversion          66
FraternitySorority House            55
Condo Common Area                   50
Condo Main                          34
Single Family-3 Conversion          26
Apartments 1-10 units               14
Medical Office                      12
Office Building                     11
Office                              11
Commercial                          10
Apartments over 20 units            10
Rooming House                        5
Retail Store                         5
Market                               5
Apartments 11-20 Units               5
Fire Station (staff)                 4
Vacant Commercial (B1-B3)            4
Parking Structure                    4
Quadplex                             4
Church                               4
Mixed Retail w/Res Units             4
Hospital                             3
Triplex                              2
Condominium Commercial               2
Cemetery                             2
Hotel                                2
Service Repair Garage                1
Elementary Sch (Entire)              1
Health Club                          1
Rectory                              1
Vacant Industrial(M1,M3,PMD)         1
Clubhouse                            1
Industrial Light Manufacturing       1
Three-Level Split                    1
Warehouse Showroom Store             1
Multiple Commercial Use              1
Bank                                 1
Classroom  (Elem/2nd Sch)            1
Four-Level Split                     1
Recreational Enclosure               1
Dormitory                            1
City Club                            1
Multipurpose Bldg (College)          1
Name: use_code, dtype: int64

In [17]:
counts=residential.year_built.value_counts()
print (counts)

1920.0    666
1925.0    584
1966.0    359
1955.0    345
2004.0    338
1959.0    291
2007.0    284
1952.0    282
1956.0    272
1964.0    269
1957.0    267
1950.0    265
1960.0    253
1965.0    249
1958.0    248
1963.0    243
1953.0    219
1967.0    214
1962.0    213
1947.0    212
1951.0    208
1940.0    205
1946.0    197
1954.0    194
1930.0    192
1961.0    190
2006.0    188
1949.0    188
1948.0    162
1935.0    142
         ...
1825.0      2
1888.0      2
1898.0      2
1854.0      2
1892.0      2
1858.0      2
1814.0      2
1500.0      2
1894.0      1
1876.0      1
1899.0      1
1859.0      1
1852.0      1
1909.0      1
1887.0      1
1901.0      1
1730.0      1
1822.0      1
1836.0      1
1868.0      1
1840.0      1
1826.0      1
1819.0      1
1790.0      1
1839.0      1
1865.0      1
1844.0      1
1828.0      1
1830.0      1
1851.0      1
Name: year_built, Length: 160, dtype: int64

In [18]:
counts=residential.style.value_counts()
print (counts)

AttributeError: 'Styler' object has no attribute 'value_counts'

In [19]:
counts=residential.grade.value_counts()
print (counts)

C           5969
B           4520
A            723
C +          438
C -          400
D            369
B -          367
B +          150
A -           34
D +           28
A +           17
B++           14
E              8
D -            4
A - Hist       3
A++            2
C - Hist       1
B - Hist       1
Name: grade, dtype: int64

In [22]:
residential.describe()

,lat,lon,style,fireplace,year_built,no_of_stories,total_rooms,bedrooms,half_bathrooms,full_bathrooms,basement_garage,sq_footage_finished_living,basement,finished_basement,fire_late,fire_early,Fire_final
count,13330.000000,13330.000000,12433.000000,12812.000000,13051.000000,13034.000000,13023.000000,13027.000000,12936.000000,13037.000000,11371.000000,13043.000000,11530.000000,10143.000000,13330.000000,13330.000000,13330.000000
mean,34.105069,-80.764407,1.447438,0.625898,1958.987357,1.450952,6.667127,3.142473,0.374536,1.860321,0.795181,1509.004830,625.657329,307.750468,0.020780,0.065341,0.085071
std,22.081037,12.789025,0.501478,0.812532,72.714546,0.510401,6.525472,1.267881,0.563301,0.902956,17.379731,740.477128,548.951806,409.231115,0.142653,0.247136,0.278998
min,-90.000000,-152.644271,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.022947,-78.502360,1.000000,0.000000,1946.000000,1.000000,5.000000,2.000000,0.000000,1.000000,0.000000,1028.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,38.030719,-78.490608,1.000000,0.000000,1959.000000,1.000000,6.000000,3.000000,0.000000,2.000000,0.000000,1305.000000,705.000000,0.000000,0.000000,0.000000,0.000000
75%,38.040985,-78.477278,2.000000,1.000000,1980.000000,2.000000,8.000000,4.000000,1.000000,2.000000,0.000000,1824.000000,1029.000000,601.500000,0.000000,0.000000,0.000000
max,38.070045,-78.454157,3.500000,10.000000,2018.000000,3.750000,705.000000,18.000000,5.000000,10.000000,700.000000,8167.000000,5290.000000,3790.000000,1.000000,1.000000,1.000000

In [23]:
counts=residential.ext_walls.value_counts()
print (counts)

Brick Veneer                 4722
Wood                         2301
Vinyl                        1264
Aluminum                     1257
Stucco                       1002
Hardy Board                   776
Asbestos                      583
Concrete Block                390
Masonite                      239
Stone                          76
Drivet                         64
Wood Shingle                   63
Split Faced Block              49
Brick/Masonry                  48
Stucco/Masonry                 47
Precast Panel                  34
Composition                    30
Single Siding                  23
Not Applicable                 18
Clapboard                      16
Metal                          12
Concrete Block - Tex Face      10
Cedar                           6
Perma-Stone                     1
Board & Batten                  1
Name: ext_walls, dtype: int64

In [24]:
counts=residential.roof.value_counts()
print (counts)

Shingles                  9804
Metal                     1217
Architectural Shingles     930
Built Up                   630
Slate                      220
Rubber                      73
Shakes                      44
Asbestos                    26
Copper                      17
Tile                        11
Roll                        11
Name: roof, dtype: int64

In [25]:
9804+1217+930+220+73+44+26+17+11+11

12353

In [26]:
9804/12353

0.7936533635554116

In [27]:
counts=residential.flooring.value_counts()
print (counts)

Hardwood      9365
None          1657
W/W Carpet    1159
Other          503
Tile           224
Pre-Fab Wd      36
Vinyl           20
Typical         16
Heart Pine      15
Linoleum        14
Sub Floor       10
Cement           5
Parque           4
Soapstone        2
Name: flooring, dtype: int64

In [28]:
9365/(9365+1657+1159+503+224+36+20+16+15+14+10+5+4+2)

0.7187260168841136

In [29]:
counts=residential.bsmt_type.value_counts()
print (counts)

No Basement                 4980
Full Basement               4575
Partial Basement            2646
Walkout Basement             419
Cellar                       218
Basement Garage                4
Basement w/ Sub-basement       3
Name: bsmt_type, dtype: int64

In [30]:
commercial.describe()

,lat,lon,year_built,gross_area,story_height,number_of_stories,fire_late,fire_early,Fire_final
count,2554.000000,2554.000000,2538.000000,2418.000000,2412.000000,2420.000000,2554.000000,2554.000000,2554.000000
mean,36.610801,-75.567924,1855.420016,13500.444996,11.404643,1.661760,0.012921,0.136648,0.149569
std,7.237598,14.944427,422.069900,62504.079455,3.741606,1.100143,0.112956,0.343543,0.356719
min,0.000000,-85.612594,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,38.020871,-78.498350,1920.000000,1480.000000,10.000000,1.000000,0.000000,0.000000,0.000000
50%,38.030172,-78.485903,1954.000000,3186.000000,12.000000,1.000000,0.000000,0.000000,0.000000
75%,38.040044,-78.472619,1975.000000,7882.500000,12.000000,2.000000,0.000000,0.000000,0.000000
max,39.790541,0.000000,2017.000000,861960.000000,60.000000,11.000000,1.000000,1.000000,1.000000

In [31]:
counts=commercial.use_type.value_counts()
print (counts)

R    2193
C     216
I      37
Name: use_type, dtype: int64

In [32]:
counts=commercial.use_code.value_counts()
print (counts)

Office Building                   668
Apartments 1-10 units             328
Retail Store                      204
Apartments over 20 units          131
Restaurant                        114
Apartments 11-20 Units            109
Commercial                         95
Office                             87
Multiple Commercial Use            71
Church                             66
Medical Office                     66
Service Repair Garage              54
Storage Warehouse                  44
Bank                               40
Mixed Retail w/Res Units           36
Neighborhood Shopping Ctr.         31
Group Care Home                    28
Elementary Sch (Entire)            28
Parking Structure                  24
Condominium Commercial             21
Fast Food Restaurant               20
Hotel                              20
Convenience Market                 20
Mini-warehouse                     17
Fire Station (staff)               14
Hospital                           13
Clubhouse                          12
Market                             12
Day Care Center                    11
Industrial Light Manufacturing     11
                                 ...
Mortuary                            5
Storage Garage                      4
Barber Shop                         4
Multipurpose Bldg (College)         4
Library, Public                     3
Skating Rink                        3
High School (Entire)                3
Kennels                             3
Fraternal Building                  3
490 Land                            3
Mini-Mart Convenience Store         2
Natatorium (Swimming Pool)          2
Post Office (Main)                  2
Veterinary Hospital                 2
Convalescent Hospital               2
Museum                              2
Motel Rm 2 Sty, Double Row          1
Equipment Shed                      1
Fitness Center                      1
Laundromat                          1
Condominium - Commercial            1
Recreational Enclosure              1
Theaters, Live Stage                1
Armory                              1
Governmental Bldg.                  1
FraternitySorority House            1
Hotel Limited Service               1
Transit Warehouse                   1
Health Club                         1
Warehouse Showroom Store            1
Name: use_code, Length: 73, dtype: int64